# To install all of these dependencies, run the following command in root:
# pip install -r requirements.txt

fastapi==0.111.0
uvicorn==0.30.1
pydantic==2.8.2
ccxt==4.3.59
requests==2.32.3
python-dotenv==1.0.1
#pandas==2.2.2
#numpy==1.26.4
#psycopg2-binary==2.9.9
#redis==5.0.4


